.projects_container {
  margin-top: 30%;
}

.project_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem auto;
    max-width: 70%;
  }

  /** Poject Builder **/

  .project_list > .builder_container {
    position: relative;
    max-width: 20rem;
    height: 30rem;
    margin-bottom: 3rem;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 3px 3px 15px rgba(0, 0, 0, 0.1);
    transition: all 100ms ease-in-out;
  }

  .project_title {
    position: absolute;
    bottom: 11rem;
    font-size: 150%;
    font-weight: 600;
  }

  .project_image {
    margin: 0 auto 20px;
    display: block;
  }

  .project_tool {
    position: absolute;

    bottom: 7rem;
  }

  button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    color: var(--color-white);
  }

  /**  Pop Up Modal  **/

.pop_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.pop_content {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--color-white);

  width: 78%;
  height: 35rem;

  padding: 3rem;
  overflow-y: scroll;
  z-index: 1001;
}

.pop_inner_content {
  display: flex;
  align-items: center;
}

.pop_img {
  max-width: 50%;
  display: block;
  margin-top: 5vh
}

.pop_text {
  position: relative;
  padding-left: 2rem;
}

.pop_title {
  
}

.pop_description {
  margin: 2rem 0;
}

.pop_link {
  color: var(--color-dark);
  border-bottom: 1.5px solid var(--color-primary);
  padding-bottom: 0.5px;
}

.pop_close {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.pop_image_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pop_prev_btn,
.pop_next_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  margin: 0 10px;
}

.pop_circles {
  display: flex;
}

.pop_circles span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.pop_active_circle {
  background-color: #000;
}