.about_container {
    display: flex;
    align-items: center;
}

.background_img {
    max-width: 50%;
}

.about_me {
    flex-grow: 1;
    margin-left: 2rem;
}

.about_title::after {
    display: block;
    content: "";

    transform: rotate(90deg);
    margin: -1rem 2rem;
    
    width: 2px;
    height: 4rem;
    background: var(--color-primary);
}

.about_description {
    margin-top: 1.5rem;
}

/* ----- For Tablets - Medium Devices ----- */
@media screen and (max-width: 1040px) {
    .about_description {
        font-size: 15px;
    }
}
  
/* ----- For small screens - Small Devices ----- */
@media screen and (max-width: 600px) {
    .about_container {
        display: contents;
    }

    .background_img {
        max-width: 600px;
        height: auto;
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .background_img img {
        width: 100%;
        object-fit: cover;
        margin-top: -20vh;
    }

    .about_me {
        margin: 2rem;
    }

    .about_title::after {
        margin: -2rem 2rem;
    }

    .about_description {
        font-size: 14px;
        margin: 2rem 0;
    }
}
  
/* ----- For mobiles - Small Devices ----- */
 @media screen and (max-width: 400px) {

}