header {
  height: 100vh;
  padding-top: 25vh;
  overflow: hidden;

  position: relative;
}
.header_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}

.names {
  font-size: 6vw;
  letter-spacing: 0.3rem;
  -webkit-text-stroke-color: var(--color-primary);
}

/* Description */
.header_description {
  width: 30rem;
  padding-bottom: 1.5rem;
}

.header_btns {
  display: flex;
  gap: 1.2rem;
}

/* Social links  */

.social_links {
  top: 3rem;
  right: 4rem;
  gap: 1.5rem;

  position: absolute;
  display: flex;
  align-items: center;
}

.social_links a {
  font-size: 1.5rem;
}

/* The Scroll Down tag */

.scroll_down {
  position: absolute;
  right: -2.8rem;
  bottom: 5.5rem;

  transform: rotate(90deg);

  display: flex;
  align-items: center;
  gap: 1.1rem;

  font-size: 15px;
}

.scroll_down::before {
  content: "";
  width: 1.5px;
  height: 1.5rem;
  background: var(--color-primary);
}

/* ----- For Tablets - Medium Devices ----- */
@media screen and (max-width: 1024px) {
  .names {
    font-size: 6vw;
  }

  .header_description {
    font-size: 15px;
    width: 27rem;
  }

  .header_btns {
    font-size: 15px;
  }
}

/* ----- For small screens - Small Devices ----- */
@media screen and (max-width: 600px) {
  .names {
    font-size: 9vw;
    letter-spacing: 0.2rem;
  }

  .header_description {
    font-size: 14px;
    width: 20rem;
  }

  header {
    height: 90vh;
    padding-top: 15vh;
  }

  .header_btns {
    font-size: 14px;
  }

  .social_links,
  .scroll_down {
    display: none;
  }
}
