.footer-heading {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.footer-content {
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
}
hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
            90deg,
            rgba(13, 8, 96, 1) 0%,
            rgba(9, 9, 121, 1) 21%,
            rgba(6, 84, 170, 1) 51%,
            rgba(0, 255, 113, 1) 100%
    );
}
.footerWrapper{
    padding-top: 5rem;
}